* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


.left{

        
    height: 8vh ;
    width: 100vw; 
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: blue;


}


.login{

    font-size: 25px;
    color:  white;
    padding: 90px;

}

.palavras {

    font-size: 25px;
    color: white;
    padding: 90px;        



}

.foto1{



    background-image: url("assents/imgs/Rectangle\ 3.png");
    background-size: cover;

    height: 670px;
    width: 700px;
    margin-top: 80px;
    margin-left: 90px;
}

.right {

    margin-left: 190px;
    margin-top: -670px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;



}




h2 { 

    color: black;
    height: -50px;
    
    
    
    




    
}


h3 {

    color: black;
    margin-top: 47px;
    margin-left: -154px;
    font-size: 20px;

    justify-content: ;
     align-items: ;


}