* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


.left{

        
    height: 8vh ;
    width: 100vw; 
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: blue;


}


.login{

    font-size: 25px;
    color:  white;
    padding: 90px;

}

.palavras {

    font-size: 25px;
    color: white;
    padding: 90px;        



}

.foto1{



    background-image: url("assents/imgs/Rectangle\ 3.png");
    background-size: cover;

    height: 670px;
    width: 700px;
    margin-top: 80px;
    margin-left: 90px;
}
